#content {
background-color: #000000;
color: #008300;
height: 100%;
width:100%;
}

<!-- /* Main Areas */ -->
#main {
position: absolute;
height: 70%;
width: 70%;
}
#lastUpdate {
position: absolute;
width: 30%;
left: 70%;
height: 50%;
font-size: 11px;
}
#accuracy {
position: absolute;
top: 20%;
left: 40%;
font-size: 11px;
}

#on_off {
position: absolute;
top: 70%;
height: 30%;
width: 70%;
}
#settings {
position: absolute;
left: 70%;
top:50%;
height: 50%;
}
<!-- /* End Main Areas */ -->




<!-- /* on_off Area */ -->
#bigButton {
width: 70%;
height: 10%;
margin-top:-10%;
}
#line {
z-index: -1;
width:100%;
margin-top:30%;
}
#circle {
margin-left: 77%;
margin-top:-3%;
}
<!-- /* End on_off Area */ -->


<!-- /* Settings Area */ -->
#MinDec {
bottom: 50px;
margin-left: 50%;
}
#MinSek {
bottom: 100px;
margin-left: 50%;
}
#Dec {
bottom: 150px;
margin-left: 50%;
}

#smallOnes {
width: 30%;
left: 70%;
height: 98%;
}

<!-- /* End Settings Area */ -->

<!-- /* Main Area */ -->
#smallline1 {
margin-top:30%;
width: 60%;
}

#smallline2 {
margin-top: -40%;
margin-left: 30%;
height: 100%;
}

#smallline3 {
margin-top:-48%;
width: 100%;
margin-left:15%;
}

#middlecoords1 {
margin-top:-74%;
margin-left: 17%;
}

#out {
margin-top: 5%;
margin-left: 34%;
font-size: 15px;
}
<!-- /* End Main Area */ -->

#placeDate {
margin-top: 10%;
margin-left: 10%;
}

<!-- /* LastUpdate Area */ -->
<!-- /* END LastUpdate Area */ -->

